{
  "jsonRecursiveSort": true,
  "overrides": [
    {
      "files": ["*.mustache"],
      "options": {
        "parser": "html"
      }
    }
  ],
  "plugins": [
    "prettier-plugin-packagejson",
    "prettier-plugin-sort-json",
    "prettier-plugin-organize-imports",
    "prettier-plugin-jsdoc"
  ],
  "proseWrap": "always"
}
