div#assent-video-trial {
  display: flex;
  width: 90vw;

  div#lookit-jspsych-video-container video {
    margin: auto;
  }

  img#record-icon {
    top: 7px;
    left: 7px;
    height: 25px;
    position: absolute;
  }

  img#record-icon {
    visibility: "hidden";
  }

  img.lookit-jspsych-checkmark {
    width: 25%;
  }

  > div {
    padding: 60px 40px;
  }

  h1 {
    text-align: center;
    font-size: 18px;
  }

  h2 {
    font-size: 16px;
  }

  p {
    font-size: 15px;
  }

  ol,
  ul {
    padding-left: 30px;
    font-size: 15px;
  }

  li {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .left-column {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex: 0 0 57%;
    height: 80vh;
  }

  div#content-area {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;

    &::before,
    &::after {
      content: "";
      flex: 1;
    }
  }

  #lookit-jspsych-assent-pages-nav-container {
    margin-top: auto;
  }

  .right-column {
    align-content: center;
    flex: 0 0 33%;
  }

  #lookit-jspsych-video-msg-container {
    min-height: 1lh;
    text-align: center;
    font-weight: bold;
    color: red;
  }

  #lookit-jspsych-video-container {
    position: relative;
    margin: auto;
    flex: 0 1 220px;
    min-height: 100px;
    overflow: hidden;

    video {
      width: auto;
      height: 100%;
      max-width: 400px;
      object-fit: contain;
    }
  }

  #question-container {
    border: 1px solid gray;
    padding: 1.5em 0;
  }

  button#yes {
    background-color: lightgreen;
    border: 2px solid darkgreen;
    color: darkgreen;
    font-size: 1.2em;
  }

  button#no {
    background-color: pink;
    border: 2px solid darkred;
    color: darkred;
    font-size: 1.2em;
  }

  button#yes.not-selected,
  button#no.not-selected {
    filter: opacity(0.4);
  }

  button#yes.not-selected:hover,
  button#no.not-selected:hover {
    filter: opacity(1);
  }

  button#yes.not-selected:disabled {
    color: darkgreen;
  }

  button#done {
    font-size: 1.2em;
  }

  button.nav-btn {
    font-size: 1.2em;
  }
}
